// ------------------------- Page Trans ------------------------

.page{
  position: absolute;
  left: 0;
  right: 0;
}

.fade-enter{
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active{
  opacity: 1;
  transition: opacity 300ms linear 150ms;
}

.fade-exit{
  opacity: 1;
}

fade-exit.fade-exit-active{
  opacity: 0;
  transition: opacity 150ms linear;
}


// ----------------------------End Page Trans-----------------------
// ---------------------------- Home --------------------------------

#homeWrapper{
    position: relative;
    background-color: black;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

#homeImage{
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('https://images.pexels.com/photos/162539/architecture-building-amsterdam-blue-sky-162539.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');

}


#searchRow{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)

}

#searchWrapper{
    background-color: white;
    opacity: 0.8;
    width: 70vw;

}

// --------------------------- End Home --------------------------------

// ---------------------------- Footer ---------------------------------

#footerWrapper{
    background-color: #212121;
    color: #ccc;
    font-size: 10pt;
    z-index: 1;
}

// --------------------------- End Footer --------------------------------

// ---------------------------- Login -----------------------------------
#logInWrapper{
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.pexels.com/photos/443383/pexels-photo-443383.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
}


.login-form-1{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: white;
    opacity: 0.9;


}
.login-form-1 h3{
    text-align: center;
    color: #333;
}

.login-container form{
    position: relative;
}



.btnSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}
.login-form-1 .btnSubmit{
    font-weight: 600;
    color: #fff;
    background-color: #0062cc;
}

.btnCancel
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}
.login-form-1 .btnCancel{
    font-weight: 600;
    color: black;
    background-color: #CF642A;

}





// ---------------------------- End Login ------------------------------
// ----------------------------- SignUp --------------------------------

#signUpWrapper{
    position: relative;
    background-color: black;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

#signUpImage{
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.pexels.com/photos/6517/parking-multi-storey-car-park.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
}

#signUpCard{
    opacity: 0.9;
}

// ---------------------------End Signup -------------------------------
// ----------------------------- Map -----------------------------------

#mapNav{
    width: 75vw;
}


#mapWrapper{
    position: relative;
}

#map{
    z-index: 1;
    position: relative;
}

#mapInfoWindow{
    z-index: 10;
    background-color: #212121;
    position: absolute;
    right: 0px;
    height: 100vh;
}

#searchRowMap{
    position: absolute;
}

#searchWrapperMap{
        width: 50vw;
        opacity: 0.8;

    }

@media screen and (max-width: 576px){
    #mapInfoWindow{
        height: 35vh;
        bottom: 0px;
    }
    #mapNav{
    width: 100vw;
}

    #mapNav h1{
        font-size: 110%;
    }

    

}







// --------------------------- End Map ----------------------------------
